<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>ThreatList</title>
</head>
<body>
<h2 th:if="${threatCount == 0}" style="text-align: center">В базе нифига нету</h2>
<div th:if="${threatCount != 0}">
<table class="table table-bordered" style="margin-bottom: 10px">
    <tr style="background-color: lightgray">
        <th style="text-align: center; vertical-align: middle">ID</th>
        <th style="text-align: center; vertical-align: middle">Название угрозы</th>
        <th style="text-align: center; vertical-align: middle"></th>
    </tr>
    <tr th:each="threat : ${threatList}">
        <td th:text="${threat.id}" style="text-align: center; vertical-align: middle; width: 55px;">ID</td>
        <td th:text="${threat.name}" style="text-align: center; vertical-align: middle; width: 90%">Name</td>
        <td style="vertical-align: middle">
            <form action="#" th:action="${threat.id}" method="get" style="text-align: center; margin: 0px; padding: 0px">

            <button type="submit" class="btn btn-info">Инфо</button>

        </form>
        </td>
    </tr>
</table>
<div style="text-align: center; width: 100%; margin: 0px" class="pagination">
    <li class="page-item" th:if="${threatList.hasPrevious()}" style="display:inline-block">
        <a th:href="@{/threatcontrol/threatlist(page=${threatList.number-1},size=${threatList.size})}">Previous</a>
    </li>
    <th:block th:each="i: ${#numbers.sequence(0, threatList.totalPages - 1)}">
        <li class="page-item active" th:if="${threatList.number == i}" style="display:inline-block"><a th:text="${i}+1">i</a>
        </li>
        <li class="page-item" th:unless="${threatList.number == i}" style="display:inline-block">
            <a th:href="@{/threatcontrol/threatlist(page=${i},size=${threatList.size})}">[[${i}+1]]</a>
        </li>
    </th:block>
    <li class="page-item" th:if="${threatList.hasNext()}" style="display:inline-block">
        <a th:href="@{/threatcontrol/threatlist(page=${threatList.number+1},size=${threatList.size})}">Next</a>
    </li>
</div>
</div>
<div style="text-align: center">
<form action="#" th:action="@{/}" method="get" style="text-align: center; margin-top: 10px; display: inline-block">
    <td>
        <button type="submit" class="btn btn-primary">Назад</button>
    </td>
</form>
<form action="#" th:action="@{/threatcontrol/deleteall}" method="get" style="text-align: center; margin-top: 10px; display: inline-block" th:if="${threatCount != 0}">
    <td>
        <button type="submit" class="btn btn-danger">Удалить все</button>
    </td>
</form>
</div>
</body>
</html>