<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>ThreatInfo</title>
</head>
<body>
<table class="table table-bordered">
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">ID угрозы</th>
        <th th:text="${threatinfo.id}" style="font-weight: normal; vertical-align: middle">ID</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Название</th>
        <th th:text="${threatinfo.name}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Описание</th>
        <th th:text="${threatinfo.description}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Источники угрозы</th>
        <th th:text="${threatinfo.intruders}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Объекты воздействия</th>
        <th th:text="${threatinfo.objectsOfInfluence}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Конфиденциальность</th>
        <th th:text="${threatinfo.confidentiality}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Целостность</th>
        <th th:text="${threatinfo.integrity}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
    <tr>
        <th style="width: 7%; vertical-align: middle; text-align: center; background-color: lightgray">Доступность</th>
        <th th:text="${threatinfo.availability}" style="font-weight: normal; vertical-align: middle">Discription</th>
    </tr>
</table>
<div style="text-align: center">
<form action="#" th:action="@{/threatcontrol/threatlist}" method="get"  style="text-align: center; display: inline-block">
    <td>
        <button type="submit" class="btn btn-primary">Назад</button>
    </td>
</form>
<form action="#" th:action="@{/threatcontrol/deletethreat/} + ${threatinfo.id}" method="get"  style="text-align: center; display: inline-block">
    <td>
        <button type="submit" class="btn btn-danger">Удалить</button>
    </td>
</form>
</div>
</body>
</html>