<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThreatControl</title>
</head>
<body>
<div style="text-align: center; margin: 30px; font-size: 16px">

    <span th:if="${isUpdateNeed == null and threatCount != 0}"> На это странице можно проверить наличие обновлений на сайте ФСТЭК. В настоящий момент в базе: <span th:text="${threatCount}" style="font-style: italic; font-weight: bold"></span> угроз!</span>
    <span th:text="${isUpdateNeed}">Message</span>
    <span th:if="${threatCount == 0}">В базе нифига нету, надо синронизироваться с матрицей</span>

</div>
<div style="text-align: center">
    <div style="display: inline-block" th:if="${threatCount != 0 and isUpdateNeed == null}">
        <form action="#" th:action="@{/threatcontrol/threats_update}" method="post">
            <td>
                <button type="submit" class="btn btn-warning">Проверить обновления</button>
            </td>
        </form>
    </div>
    <div style="display: inline-block" th:if="${threatCount == 0}">
        <form action="#" th:action="@{/threatcontrol/update}" method="post">
            <td>
                <button type="submit" class="btn btn-success">Синхронизация</button>
            </td>
        </form>
    </div>
    <div style="display: inline-block" th:if="${isUpdateNeed == null}">
        <form action="#" th:action="@{/}" method="get">
            <td>
                <button type="submit" class="btn btn-primary">Назад</button>
            </td>
        </form>
    </div>
    <div style="display: inline-block" th:if="${isUpdateNeed != null}">
        <form action="#" th:action="@{/threatcontrol/threats_update}" method="get">
            <td>
                <button type="submit" class="btn btn-info">Понял-принял</button>
            </td>
        </form>
    </div>
</div>
</body>
</html>