<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThreatUpdateList</title>
</head>
<body>
<table class="table table-bordered" style="margin-bottom: 10px">
    <tr style="background-color: lightgray">
        <th style="text-align: center; vertical-align: middle">№</th>
        <th style="text-align: center; vertical-align: middle">Описание разницы</th>
    </tr>
    <tr th:each="threat,iterator : ${threatDifference}">
        <td th:text="${iterator.index + 1}" style="text-align: center; vertical-align: middle; font-size: 12px">Number
        </td>
        <td th:text="${threat}" style="text-align: center; vertical-align: middle; font-size: 12px">ID</td>
    </tr>
</table>
<div style="text-align: center">
    <div style="display: inline-block">
        <form action="#" th:action="@{/threatcontrol/doupdate}" method="get">
            <td>
                <button type="submit" class="btn btn-success">Обновить</button>
            </td>
        </form>
    </div>
    <div style="display: inline-block">
        <form action="#" th:action="@{/threatcontorl/threats_update}" method="get">
            <td>
                <button type="submit" class="btn btn-default">Назад</button>
            </td>
        </form>
    </div>
</div>
</body>
</html>